<div class="row mt3 ml-5">
  <h3>My Quiz Editor</h3>
</div>
<div class="container">
  <div class="row alert alert-primary text-center mt-5 p-2" *ngIf="quizzesLoaded === false">
    <div class="m-2">
      <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status"></div>
      &nbsp;
      <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status"></div>
      &nbsp;
      <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status"></div>
    </div>
      <div class="sr-only h4">&nbsp;Loading Quizzes ...</div>
  </div>
  <div class="row" *ngIf="quizzesLoaded === true">
    <div class="col-md-4">
      <button class="btn btn-primary mb-3" (click)="addQuiz()">Add+ Quiz</button>
      <div class="card" *ngIf="quizzes.length > 0">
        <div class="list-group list-group-flush">
          <button 
            class="list-group-item list-group-item-action d-flex justify-content-between" 
            *ngFor="let q of quizzes"
            [class.active]="q === selectedQuiz"
            (click)="selectQuiz(q)"
            [style.text-decoration]="q.markedForDelete ? 'line-through' : 'inherit'"
            [style.color]="q.markedForDelete ? 'red' : 'inherit'">
            <span class="text-truncate mr-3 mt-1">
              {{ q.quizName }}
            </span>
            <small class="fst-italic fw-lighter p-2">
              {{ q.quizQuestions.length }} questions
            </small>
            <span *ngIf="q.markedForDelete === true" class="position-absolute top-50 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"></span>
            <span *ngIf="q.newlyAdded === true" class="position-absolute top-50 start-100 translate-middle p-2 bg-success border border-light rounded-circle"></span>
            <span *ngIf="q.newlyAdded === true"  class="position-absolute top-50 start-100 translate-middle p-2 bg-success border border-light rounded-circle"></span>
          </button>
        </div>
      </div>
      <div class="alert alert-warning" *ngIf="quizzes.length === 0" role="alert">
        <span>No Quizzes to display!</span>
      </div>
    </div>
    <div class="col-md-8" *ngIf="selectedQuiz !== undefined">
      <div class="d-flex align-content-center">
        <button class="btn"
        [class.btn-outline-success]="deletedQuizCount + editedQuizCount + addedQuizzesCount == 0"
        [class.btn-success]="deletedQuizCount + editedQuizCount + addedQuizzesCount > 0"
        (click)="saveQuizzes()"
        >
          Save
          <span 
          *ngIf="deletedQuizCount > 0"
          class="badge bg-danger ms-1">- {{ deletedQuizCount }}</span>
          <span 
          *ngIf="addedQuizzesCount > 0"
          class="badge bg-success ms-1">+ {{ addedQuizzesCount }}</span>
          <span 
          *ngIf="editedQuizCount > 0"
          class="badge bg-warning ms-1">* {{ editedQuizCount }}</span>
        </button>
        <button class="btn btn-link" (click)="cancelAllChanges()">Cancel all changes</button>
      </div>
      <div class="card mt-3">
        <div class="card-header">Quiz Title</div>
        <div class="card-body">
          <input type="text" class="form-control" [(ngModel)]="selectedQuiz.quizName"/>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header">Questions
          <span class="text-danger" *ngIf="selectedQuiz.quizQuestions.length === 0">(no questions)</span>
        </div>
        <div class="card-body">
          <button class="btn btn-outline-primary" (click)="addQuestion()">Add Question</button>
          <div class="row mt-3" *ngFor="let question of selectedQuiz.quizQuestions">
            <div class="col-md-10">
              <input type="text" class="form-control"
              [(ngModel)]="question.questionText"/>
            </div>
            <div class="col-md-2">
              <button class="btn btn-danger" (click)="removeQuestion(question)">
                Remove
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header text-danger">Danger Zone</div>
        <div class="card-body">
          <div class="form-check">
            <label class="form-check label text-danger">
              <input type="checkbox" class="form-check-input" [(ngModel)]="selectedQuiz.markedForDelete"/>
              Marked for Delete
            </label>
          </div>    
        </div>
      </div>
    </div>
    <div class="col-md-8"
      *ngIf="selectedQuiz === undefined">
      <div class="card bg-light text-center mt-5">
        <h2>No Quiz Selected</h2>
        <p class="d-flex align-items-center justify-content-center">Please select or 
          <button class="btn btn-link px-1" (click)="addQuiz()"> add a quiz </button>
           to continue.</p>
           <span>
            <button class="btn btn-link" (click)="jsPromisesOne()">Click One</button>
          </span>
          <span>
            <button class="btn btn-link" (click)="jsPromisesTwo()">Click Two</button>
          </span>
          <span>
            <button class="btn btn-link" (click)="jsPromisesThree()">Click Three</button>
          </span>
      </div>
    </div>

  </div>
</div>